*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
body{

    background-color: black;
}
a{
    text-decoration: none;
    color: lime;
}
.main{
    background-color: black;
    height:fit-content;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;

}
.submain{
    border: 2px solid white;
    height: fit-content;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
   
}
.title{
    text-align: center;
    color: white;
}
.project_row_1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: white;
    gap: 3em;

   
}
.project1{
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color:black;
    color: white;
    margin-right:10px;
    width: 100%;
    
}
.project_row_2{
    display: flex;
    margin-top: 3em;
    gap: 3em;
}

  .topThings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  width: 160%;
}


@media (max-width:600px)
{
    .submain{
        width: 90%!important;
    }
    .project_row_1{
        
        flex-direction: column;  
    }
    .project1{
        margin-top: 10px;
        
    }
    .main{
        padding: 50px;
        height: auto;
    }
    .submain{
        width: 70%;
    }
    .project_row_2{
        flex-direction: column;
    }
     
}