
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Raleway:wght@200&display=swap');

*{
    font-family: nunito sans;
    scroll-behavior: smooth;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: black;
    height: 100vh;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
:root{
    --primary-color:black;
    --secondary-color:white;
    --text-color:limegreen;
}
.navBar{
    padding: 2px;
    border-radius: 25px;
    margin: 10px;
    border: 2px solid var(--text-color);
    display: flex;
    justify-content: space-between;
}
.backBtn{
    width: fit-content;
    padding: 0px 12px 0px 12px;
    border-radius: 50%;
}
.backBtn:hover{
    background-color:var(--text-color);
}
.backBtn a{
    color: white;
}
.gitHubProfile{
    border: 2px solid var(--text-color);
    padding: 5px;
    border-radius: 25px;
}
.gitHubProfile img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.gitHubProfile:hover{
    background-color: var(--text-color);
}
.title{
    font-size: 1.6em;
}
.themeColors{
    margin-right: 10px;
    flex-direction: row;
    gap: 0.5em;
}
.colorSets{
    height: 20px ;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;;
}
.themeBtn{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.project{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 100px;
}
.mainBox{
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topics{
    border: 1px solid var(--text-color);
     border-radius: 25px;
     padding: 5px 20px 5px 20px;
     font-weight: bold;
     width:5.5em ;
     display: flex;
     justify-content: center;
     align-items: center;

}
.topics:hover{
    background-color: var(--text-color);
    border: 1px solid transparent   ;
    color: var(--secondary-color);
    transition: 0.25s ease-in-out;
}
.topHalf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    border-bottom: 2px solid var(--secondary-color);
}
.projectTitle{
    font-size: 3em;
    padding-right: 0.7em;
    border-right: 2px solid var(--secondary-color);
    width: 90%;
}
.projectLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 5px;
}